/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bg-dark {
  background-color: #000000;
}
.bg-light {
  background-color: #ffffff;
}
.about-img {
  height: 125px;
}
.about-heading {
  font-size: 32px;
  font-family: 'Roboto';
}
.bg-dark-text {
  color: #1e293b;
}
.bg-light-text {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .about-heading {
    font-size: 48px;
  }
}
